.Modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
  display: none;
  &--open {
    display: block;
  }

  &__content {
    max-width: 800px;
    margin: 5% auto;
  }
}
