.Modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
  display: none;
  &--open {
    display: block;
  }

  &__content {
    max-width: 800px;
    margin: 3% auto;
    border-radius: 5px;
  }

  &__title {
    font-size: 2rem !important;
  }

  table td {
    width: 50%;
    font-size: 0.9rem;
  }

  table td.bold {
    font-weight: 500;
  }

  .btn-grey {
    background-color: #dee2e6;
  }

  .btn {
    height: 40px;
  }
}
