@mixin flexBasic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
}

.c-dropdown {
  max-width: 500px;
  border: 5px;
  height: 50px;
  z-index: 6;

  .control {
    max-width: 500px;
    border: 5px;
    height: 50px;
    z-index: 6;
    background: #ffffff;
    border: 1px solid rgba(102, 102, 102, 0.24);
    border-radius: 5px;
    @include flexBasic();
    font-size: 1rem;
    color: #999;
    &:focus {
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.21);
      outline: none;
      border: 1px solid #6979f8;
    }
    .selected-value {
      width: 100%;
    }
  }
  .options {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    overflow-y: auto;
    background: #fff;
    max-height: 250px;
    z-index: 797;
    top: 55px;
    left: 0;

    .selected {
      background: #e8f1ff;
    }

    &.open {
      display: block;
    }
  }
  .option {
    @include flexBasic();
    height: 40px;
    border-bottom: 1px solid #eee;

    &:hover {
      background: #deebff;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
