.footer {
  &__text {
    font-size: 0.9rem;
  }
  &__item {
    width: 20%;
    &:first-child {
      width: 25%;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    &--sub {
      font-size: 0.9rem;
      margin-bottom: 0.7rem;
    }
  }
  &__link {
    font-size: 0.9rem;
    text-decoration: none !important;
    color: #104879;
    display: block;
    margin-bottom: 0.8rem;
  }
}
