$lightblue: #645eff;
$darkblue: #153e74;

.hero {
  //   background-image: url(./images/hero-bg.jpg);
  padding: 10rem 0 5rem 0;

  &__title {
    font-size: 4.5rem;
    color: #4c473f;
    font-weight: 900;
    &__small {
      color: #e26511;
      font-size: 4.2rem;
      font-weight: 600;
    }
  }
  &__lead-text {
    font-size: 1 19rem;
  }
  &__faq {
    padding-top: 8rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaf5ff;
  }
}

@media only screen and (max-width: 767px) {
  // .hero {
  //   background-position: -50% -50% !important;
  // }
}
