$primary: #020249;
$darkblue: #153e74;
.nav {
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: height 0.2s linear, background-color 0.2s linear;

  &.sticky {
    height: 75px;
    position: sticky;
    background-color: #fff;
  }

  &__menu {
    width: 100%;
    display: none !important;

    &-mobile-btn {
      height: 22px;
      width: 30px;
      position: relative;
    }

    &-mobile-line {
      height: 3px;
      width: 100%;
      display: block;
      background-color: #153e74;
      transition: all 0.3s linear;
      &:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-1px);
      }
      &:first-child {
        position: absolute;
        top: 0%;
        left: 0;
      }
      &:last-child {
        position: absolute;
        bottom: 0%;
        left: 0;
      }
    }

    &-mobile {
      width: 100%;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      &-links {
        height: 0;
        overflow: hidden;
        background-color: #fff;
        transition: height 0.4s linear;
      }
      &-link-item {
        height: 60px;
        text-align: center;
        color: #153e74;
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 1rem;
        .btn-block + .btn-block {
          margin: 1rem 0 !important;
        }
      }
      &__header {
        height: 70px;
      }
      &.show {
        background: #fff;
        .nav__menu-mobile-links {
          padding: 0 0 16px 0;
          overflow: auto;
          height: 446px;
        }
        .nav__menu-mobile-line {
          &:first-child {
            transform: rotate(45deg);
            transform-origin: center;
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(-45deg);
            bottom: calc(50% - 2px);

            transform-origin: center;
          }
          &:nth-child(2) {
            width: 0%;
            margin: 0;
          }
        }
      }
    }
  }

  &__item-right {
    .btn-outline {
      border: 1px solid #fff !important;
      color: #fff !important;
      font-size: 0.9rem;
      border-radius: 5px;
    }
  }

  &__link {
    padding-right: 2.5rem;
    text-decoration: none;
    font-size: 1rem;
    text-decoration: none;
    color: $primary;
    font-weight: 500;
    &:hover {
      text-decoration: none;
    }
  }

  &__logo {
    padding-right: 3.5rem;
    height: 30px;
    display: block;
  }

  .btn {
    height: 40px;
    min-width: 130px;
    color: $primary;
    font-size: 0.9375rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-weight: 500;
    background: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &-outline {
      color: var(--white);
      border: 1px solid var(--white);
      background: transparent;
      &--blue {
        color: #153e74 !important;
        border: 1px solid #153e74 !important;
      }
    }
  }
  &.sticky .btn {
    color: white !important;
    background: $darkblue !important;
    &-outline {
      background: white !important;
      color: $darkblue !important;
      border: 1px solid $darkblue !important;
    }
  }
}
