@mixin bounced-properties {
  animation: bounced linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: bounced linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bounced linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: bounced linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: bounced linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

.bounced {
  @include bounced-properties;
  animation-delay: 0;
}

.bounced-2 {
  @include bounced-properties;
  animation-delay: 0.3s;
}
.bounced-3 {
  @include bounced-properties;
  animation-delay: 0.6s;
}
.bounced-4 {
  @include bounced-properties;
  animation-delay: 0.9s;
}
.bounced-5 {
  @include bounced-properties;
  animation-delay: 1.2s;
}

@keyframes bounced {
  0% {
    transform: translate(0px, 0px);
  }
  49% {
    transform: translate(2px, -10px);
  }
  100% {
    transform: translate(1px, 1px);
  }
}

@-moz-keyframes bounced {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  49% {
    -moz-transform: translate(2px, -10px);
  }
  100% {
    -moz-transform: translate(1px, 1px);
  }
}

@-webkit-keyframes bounced {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  49% {
    -webkit-transform: translate(2px, -10px);
  }
  100% {
    -webkit-transform: translate(1px, 1px);
  }
}

@-o-keyframes bounced {
  0% {
    -o-transform: translate(0px, 0px);
  }
  49% {
    -o-transform: translate(2px, -10px);
  }
  100% {
    -o-transform: translate(1px, 1px);
  }
}

@-ms-keyframes bounced {
  0% {
    -ms-transform: translate(0px, 0px);
  }
  49% {
    -ms-transform: translate(2px, -10px);
  }
  100% {
    -ms-transform: translate(1px, 1px);
  }
}

.drive {
  animation: drive linear 15s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: drive linear 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: drive linear 15s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: drive linear 15s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: drive linear 15s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes drive {
  0% {
    transform: translate(1px, 1px);
  }
  49% {
    transform: translate(-39px, 16px);
  }
  49% {
    transform: translate(-39px, 16px);
  }
  100% {
    transform: translate(0px, 1px);
  }
}

@-moz-keyframes drive {
  0% {
    -moz-transform: translate(1px, 1px);
  }
  49% {
    -moz-transform: translate(-39px, 16px);
  }
  49% {
    -moz-transform: translate(-39px, 16px);
  }
  100% {
    -moz-transform: translate(0px, 1px);
  }
}

@-webkit-keyframes drive {
  0% {
    -webkit-transform: translate(1px, 1px);
  }
  49% {
    -webkit-transform: translate(-39px, 16px);
  }
  49% {
    -webkit-transform: translate(-39px, 16px);
  }
  100% {
    -webkit-transform: translate(0px, 1px);
  }
}

@-o-keyframes drive {
  0% {
    -o-transform: translate(1px, 1px);
  }
  49% {
    -o-transform: translate(-39px, 16px);
  }
  49% {
    -o-transform: translate(-39px, 16px);
  }
  100% {
    -o-transform: translate(0px, 1px);
  }
}

@-ms-keyframes drive {
  0% {
    -ms-transform: translate(1px, 1px);
  }
  49% {
    -ms-transform: translate(-39px, 16px);
  }
  49% {
    -ms-transform: translate(-39px, 16px);
  }
  100% {
    -ms-transform: translate(0px, 1px);
  }
}
