@import "bootstrap/scss/bootstrap.scss";
@import "./font.css";

html {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #4c473f;
  scroll-behavior: smooth;
}

$lightblue: #645eff;
$darkblue: #4c473f;

body {
  font-family: "Gilroy", sans-serif;
  color: #4c473f;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

p {
  font-size: 1rem;
  color: #4c473f;
  &.sub {
    font-size: 1.15rem;
  }
}

.section {
  padding: 6rem 0;
  &--bg {
    background: #fcfcfc !important;
  }
}

.title {
  font-size: 2.625rem;
  font-weight: 600;
  color: $darkblue;
  &--small {
    font-weight: 500;
    color: $lightblue;
    font-size: 1rem;
  }
  &--hero {
    font-size: 3.2rem;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 640px) {
  .container {
    width: 86%;
  }
}

@media only screen and (min-width: 940px) {
  .container {
    width: 84%;
    max-width: 1420px;
  }
}

.form-restrict {
  max-width: 500px;
}

.btn {
  height: 50px;
  &-orange {
    background: #e26511;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &-outline {
    background: transparent;
    color: $darkblue !important;
    border: 1px solid $darkblue !important;
    border-radius: 5px;
  }
  &__blue {
    background: $darkblue !important;
    color: #fff !important;
  }
}

ul {
  margin: 0 !important;
}

.blink {
  -webkit-animation: 0.9s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 0.9s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
