@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Light/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
